body{
	background: linear-gradient(to right, blue, green);
	text-align: center;
	padding: 20px;
}
h1{
	font-size: 4em;
	opacity: 0.8;
	text-align: center;
	letter-spacing: .3em;
}
h2{
	font-size: 1.5em;
	opacity: 0.8;
	text-align: center;
	letter-spacing: .2em;

}
